body{
    background-color: rgba(6,214,160,0.1);
}

.flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-direction: column;
    
}
p {
    margin: 30px;
    padding: 30px;
    text-align: center;
}
.message1 {
    color:#EF476F;
    font-family: fantasy;
    font-size: 32pt;
}
.message2{
    color: midnightblue;
    font-family: fantasy;
    font-size: 24pt;
    text-decoration: underline;
    animation: blinking 1s linear infinite ;
     }
.message2:hover ~ .message3 {
    opacity: 1;
}s



.message3{
    color:rgb(255,209,102,0);
    font-family: cursive;
    font-size: 24pt;
    opacity: 0;
    transition: 2s;


}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}